{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'css/register-create.css' %}" rel="stylesheet">
</head>
<body>

<div class="signup-container">
    <h3 class="text-center">Create an Account</h3>
{#    {% if messages %}#}
{#        <ul class="alert alert-danger">#}
{#            {% for message in messages %}#}
{#                <li>{{ message }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
    <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
    </form>
    <div class="text-center mt-3">
        <p>Already have an account? <a href="/create-login/" class="text-light">Login</a></p>
    </div>
</div>

</body>
</html>
