/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
}

/* Header Styles */
header {
    background-color: #1c1c1c;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
}

nav {
    flex-grow: 1;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #40c057; /* Hover color */
}

.login-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #444;
}

/* Container and Card */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    background-color: #1c1c1c;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card img {
    margin-bottom: 20px;
}

.card h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #40c057;
}

/* Form and Input */
.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field i {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #888;
}

.input-field input {
    width: 100%;
    padding: 12px 40px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #40c057;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #40c057;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #40c057;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
